<%- include('partials/header'); -%>

    <div class="container post-secret">
        <h1 class="form-heading">About</h1>
        <hr class="fw-bold">
        <p class="mt-4">This is basically a social website where you can post anonymous. we don't store any data related
            to you so feel free to post what you want.</p>

    </div>


    <%- include('partials/footer'); -%>