<%- include('partials/header'); -%>

    <div class="container post-secret">
        <h1 class="form-heading">Contact</h1>
        <hr class="fw-bold">
        <div>
            <div><img src=""> </div>
        </div>
        <p class="mt-4">We Suppose you like your websites , if you have any suggestion , comment and question
            then feel free to
            connect with us via posts.</p>

    </div>


    <%- include('partials/footer'); -%>